
@font-face {
  font-family: 'NeutralFace-Bold';
  src: url('../fonts/NeutralFace/NeutralFace-Bold.otf') format('opentype'),
}
@font-face {
  font-family: 'NeutralFace';
  src: url('../fonts/NeutralFace/NeutralFace.otf') format('opentype'),
}
