.btn-search-news {

}

.btn-search-content {

}

.nav-menu {
  position: absolute;
  top: 90vh;
  left: 35vw;

  display: flex;
  flex-direction: row;
  padding: 1vw;
  // background-color: red;
  width: 30vw;
  border-radius: 30px;
  background-color: white;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
}